<a href="https://colab.research.google.com/github/donyeun/AMLSII_19-20_SN18154195/blob/master/AMLS_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Mount Google Drive

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
路路路路路路路路路路
Mounted at /content/drive

# Libraries and Variables

In [0]:
import pandas as pd
import os
import torch

In [0]:
cfg = {
       'paths': {
           'train_folder_task_a': '/content/drive/My Drive/public/AMLSII_19-20_SN18154195/dataset/training/2017_English_final/GOLD/Subtask_A',
           'train_additional_dataset_filenames': ['livejournal-2014test-A.tsv', 'sms-2013test-A.tsv'],
           'test_file_task_a': '/content/drive/My Drive/public/AMLSII_19-20_SN18154195/dataset/testing/SemEval2017-task4-test/SemEval2017-task4-test.subtask-A.english.txt',

           'train_folder_task_b': '/content/drive/My Drive/public/AMLSII_19-20_SN18154195/dataset/training/2017_English_final/GOLD/Subtasks_BD',
           'test_file_task_b': '/content/drive/My Drive/public/AMLSII_19-20_SN18154195/dataset/testing/SemEval2017-task4-test/SemEval2017-task4-test.subtask-BD.english.txt',
       },
       'task_a': {
           'use_additional_dataset': True,
       }
}

# Load Dataset

## Preprocess Additional Dataset
In task A, there are some additional datasets that were given from the competition apart from the standard twitter corpus, which is sms and livejournal corpus. We can use both of these additional datasets, after we preprocess the formatting so that it matches the rest of the twitter datasets.

In [184]:
task_a_train_additional_dfs = {}

for filename in cfg['paths']['train_additional_dataset_filenames']:
  # read additional corpora
  task_a_train_additional_dfs[filename] = pd.read_csv(os.path.join(cfg['paths']['train_folder_task_a'], filename), sep='\t', header=None)
  
  if filename == 'livejournal-2014test-A.tsv':
    # remove the 0-th column from livejournal corpora, as it is unnecessary
    task_a_train_additional_dfs[filename] = task_a_train_additional_dfs[filename].drop(columns=[0])
  elif filename == 'sms-2013test-A.tsv':
    # remove the 1st column from sms corpora, as it is unnecessary
    task_a_train_additional_dfs[filename] = task_a_train_additional_dfs[filename].drop(columns=[1])
  
  # reset the column index to make it incremental
  task_a_train_additional_dfs[filename].columns = range(task_a_train_additional_dfs[filename].shape[1])
  
  print(task_a_train_additional_dfs[filename])

             0         1                                                  2
0     LJ111111  negative  I know I missed something here , but what does...
1     LJ111113   neutral  What do you think of Beside Ourselves as a tit...
2     LJ111114  positive                    :D I intend to be one someday .
3     LJ111117  negative  LLLINKKK LLLINKKK IIIMAGEEELLLINKKK The choice...
4     LJ111119   neutral                     LLLINKKK Some more mountains .
...        ...       ...                                                ...
1137  LJ113616  positive                     Maybe it was - his - fantasy ?
1138  LJ113618  negative  It was ok , but they always just seem so nervo...
1139  LJ113621  positive  It is streamable from YepRoc -- matter of fact...
1140  LJ113623  positive  comment telling me who you are , or how you fo...
1141  LJ113625   neutral  im on myspace ... ill try and find you and add...

[1142 rows x 3 columns]
          0         1                                                  2
0     10936   neutral  Yes i am going from school have class till 5 c...
1     11051   neutral  can u tape the match for me?  i\u2019ll rush o...
2     10966   neutral  Too many people at my house my relatives are h...
3     11211  negative  Yea I have spoken to him liao. Indeed he is up...
4     11350  positive  Haha... I want to see. E macdonalds here cheap...
...     ...       ...                                                ...
2089  10038  negative  Oki... Think i\u2019m confused... I only know ...
2090  11799   neutral  Yup... Ok i go home look at the timings then i...
2091  11945   neutral            Here got lots of hair dresser fr china.
2092  10154   neutral  no alh  we are not discussing fromt he viewpoi...
2093  11428   neutral  Not dat i dun wan sign up but i wan only for a...

[2094 rows x 3 columns]

## Make Datasets As Pandas' DataFrames

In [0]:
def append_txt_files_as_one_dataframe(folderpath, filename_keywords_list, additional_dataset_dfs=None):
  dataset_per_file_dfs = {}
  dataset_df = pd.DataFrame()
  filenames = os.listdir(folderpath)
  
  # open txt files (in tsv formatting)
  for filename in filenames:
    # if the filename contains a keyword in the filename_keywords_list, then open the txt file
    # this is to avoid opening unnecessary txt such as readme.txt file.
    if any(keyword in filename for keyword in filename_keywords_list):
      dataset_per_file_dfs[filename] = pd.read_csv(os.path.join(folderpath, filename), sep='\t', header=None)

  # combine the original dataset with additional dataset (if any)
  if additional_dataset_dfs is not None:
    for key, value in additional_dataset_dfs.items():
      dataset_per_file_dfs[key] = value

  # append all the files as one dataframe
  for key, value in dataset_per_file_dfs.items():
    # print(key, '\t', i, '\t', dataset_per_file_df[key].shape[0])
    dataset_df = dataset_df.append(dataset_per_file_dfs[key], ignore_index=True)
  return dataset_df

In [0]:
def clean_dataframe_format(df, new_column_name_list, drop_column_list=[]):
  df = df.drop(columns=drop_column_list)
  df.columns = new_column_name_list
  return df

In [199]:
if cfg['task_a']['use_additional_dataset']:
  task_a_train_df = append_txt_files_as_one_dataframe(cfg['paths']['train_folder_task_a'], ['twitter'], task_a_train_additional_dfs)
else:
  task_a_train_df = append_txt_files_as_one_dataframe(cfg['paths']['train_folder_task_a'], ['twitter'])
task_a_train_df = clean_dataframe_format(task_a_train_df, ['id', 'sentiment', 'text'], drop_column_list=[3])
task_a_train_df

                       id  ...                                               text
0      637641175948763136  ...  @SeeMonterey LOST - Sony cell phone with holid...
1      637651487762554881  ...  @PersonaSoda well yeah, that's third parties. ...
2      637666734300905472  ...  Sony rewards app is like a lot of 19 y.o femal...
3      637668142110654468  ...  @fakethom Have android tab and don't use phone...
4      637708370129125377  ...  Finally I get my ps4 back I sent it to Sony ca...
...                   ...  ...                                                ...
53363               10038  ...  Oki... Think i\u2019m confused... I only know ...
53364               11799  ...  Yup... Ok i go home look at the timings then i...
53365               11945  ...            Here got lots of hair dresser fr china.
53366               10154  ...  no alh  we are not discussing fromt he viewpoi...
53367               11428  ...  Not dat i dun wan sign up but i wan only for a...

[53368 rows x 3 columns]

In [200]:
task_b_train_df = append_txt_files_as_one_dataframe(cfg['paths']['train_folder_task_b'], ['twitter'])
task_b_train_df = clean_dataframe_format(task_b_train_df, ['id', 'topic','sentiment', 'text'], drop_column_list=[4])
task_b_train_df

                       id  ...                                               text
0      628949369883000832  ...  dear @Microsoft the newOoffice for Mac is grea...
1      628976607420645377  ...  @Microsoft how about you make a system that do...
2      629023169169518592  ...  I may be ignorant on this issue but... should ...
3      629179223232479232  ...  Thanks to @microsoft, I just may be switching ...
4      629226490152914944  ...  Microsoft, I may not prefer your gaming branch...
...                   ...  ...                                                ...
20434  520957142816530432  ...  Check out the gorgeous products from Younique!...
20435  522889214036156417  ...  LADIES!  BULK ORDER GOES IN TOMORROW AT 10PM C...
20436  521416045865992192  ...  Here is something fun for you:  On the 14th, I...
20437  522912399322394624  ...  Get the best mascara in the industry here! Im ...
20438  520917627460661248  ...  Wakey Wakey! It's SATURDAY SHOPPING Day! Make ...

[20439 rows x 4 columns]

In [201]:
task_a_test_df = pd.read_csv(cfg['paths']['test_file_task_a'], sep='\t', header=None)
task_a_test_df = clean_dataframe_format(task_a_test_df, ['id', 'sentiment', 'text'])
task_a_test_df

                       id  ...                                               text
0      801989080477154944  ...  #ArianaGrande Ari By Ariana Grande 80% Full ht...
1      801989272341453952  ...  Ariana Grande KIIS FM Yours Truly CD listening...
2      801990978424962944  ...  Ariana Grande White House Easter Egg Roll in W...
3      801996232553963008  ...  #CD #Musics Ariana Grande Sweet Like Candy 3.4...
4      801998343442407040  ...  SIDE TO SIDE  @arianagrande #sidetoside #aria...
...                   ...  ...                                                ...
11901  805699615781625856  ...  @dansen17 update: Zac Efron kissing a puppy ht...
11902  805701709356003328  ...  #zac efron sex pic skins michelle sex https://...
11903  805701818357579776  ...  First Look at Neighbors 2 with Zac Efron Shirt...
11904  805703557081075712  ...  zac efron poses nude #lovely libra porn https:...
11905  805704324105940992  ...  #Fashion #Style The Paperboy (NEW Blu-ray Disc...

[11906 rows x 3 columns]

In [202]:
task_b_test_df = pd.read_csv(cfg['paths']['test_file_task_b'], sep='\t', header=None)
task_b_test_df = clean_dataframe_format(task_b_test_df, ['id', 'topic', 'sentiment', 'text'])
task_b_test_df

                      id  ...                                               text
0     801989272341453952  ...  Ariana Grande KIIS FM Yours Truly CD listening...
1     801990978424962944  ...  Ariana Grande White House Easter Egg Roll in W...
2     801996232553963008  ...  #CD #Musics Ariana Grande Sweet Like Candy 3.4...
3     801998343442407040  ...  SIDE TO SIDE  @arianagrande #sidetoside #aria...
4     802001659970744064  ...  Hairspray Live! Previews at the Macy's Thanksg...
...                  ...  ...                                                ...
6064  805696468959002624  ...  Abby *talking about the Hamilton soundtrack": ...
6065  805699412257181697  ...  can we like get zac efron or justin bieber for...
6066  805699615781625856  ...  @dansen17 update: Zac Efron kissing a puppy ht...
6067  805701818357579776  ...  First Look at Neighbors 2 with Zac Efron Shirt...
6068  805703557081075712  ...  zac efron poses nude #lovely libra porn https:...

[6069 rows x 4 columns]

# Exploratory Data Analysis (EDA)