<a href="https://colab.research.google.com/github/donyeun/AMLSII_19-20_SN18154195/blob/master/AMLS_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries and Variables

In [0]:
import pandas as pd
import os

In [0]:
cfg = {
       'paths': {
           'train_folder_task_a': '/content/drive/My Drive/public/AMLSII_19-20_SN18154195/dataset/training/2017_English_final/GOLD/Subtask_A',
           'test_file_task_a': '/content/drive/My Drive/public/AMLSII_19-20_SN18154195/dataset/testing/SemEval2017-task4-test/SemEval2017-task4-test.subtask-A.english.txt',

           'train_folder_task_b': '/content/drive/My Drive/public/AMLSII_19-20_SN18154195/dataset/training/2017_English_final/GOLD/Subtasks_BD',
           'test_file_task_b': '/content/drive/My Drive/public/AMLSII_19-20_SN18154195/dataset/testing/SemEval2017-task4-test/SemEval2017-task4-test.subtask-BD.english.txt',
       }
}

## Mount Google Drive and Load Dataset

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
路路路路路路路路路路
Mounted at /content/drive

In [0]:
def append_txt_files_as_one_dataframe(folderpath, filename_keywords_list):
  dataset_per_file_df = {}
  dataset_df = pd.DataFrame(columns=[0,1,2])
  filenames = os.listdir(folderpath)
  
  # open txt files (in tsv formatting)
  for filename in filenames:
    # if the filename contains a keyword in the filename_keywords_list, then open the txt file
    # this is to avoid opening unnecessary txt such as readme.txt file.
    if any(keyword in filename for keyword in filename_keywords_list):
      dataset_per_file_df[filename] = pd.read_csv(os.path.join(folderpath, filename), sep='\t', header=None)

  # append all the files as one dataframe
  i = 0
  for key, value in dataset_per_file_df.items():
    i+=1
    print(key, '\t', i, '\t', dataset_per_file_df[key].shape[0])
    dataset_df = dataset_df.append(dataset_per_file_df[key], ignore_index=True)
    # print(dataset_df)
  return dataset_df

In [131]:
task_a_train_df = append_txt_files_as_one_dataframe(cfg['paths']['train_folder_task_a'], ['twitter'])
task_a_train_df

twitter-2016devtest-A.txt 	 1 	 2000
twitter-2016dev-A.txt 	 2 	 1966
twitter-2016train-A.txt 	 3 	 5868
twitter-2013dev-A.txt 	 4 	 1654
twitter-2013test-A.txt 	 5 	 3547
twitter-2013train-A.txt 	 6 	 9684
twitter-2014test-A.txt 	 7 	 1853
twitter-2015test-A.txt 	 8 	 2390
twitter-2015train-A.txt 	 9 	 489
twitter-2014sarcasm-A.txt 	 10 	 49
twitter-2016test-A.txt 	 11 	 20632

                        0  ...    3
0      637641175948763136  ...  NaN
1      637651487762554881  ...  NaN
2      637666734300905472  ...  NaN
3      637668142110654468  ...  NaN
4      637708370129125377  ...  NaN
...                   ...  ...  ...
50127  681877834982232064  ...  NaN
50128  681879579129200640  ...  NaN
50129  681883903259357184  ...  NaN
50130  681904976860327936  ...  NaN
50131  681910549211287552  ...  NaN

[50132 rows x 4 columns]

In [128]:
task_b_train_df = append_txt_files_as_one_dataframe(cfg['paths']['train_folder_task_b'], ['twitter'])
task_b_train_df

twitter-2016train-BD.txt 	 1 	 4309
twitter-2016dev-BD.txt 	 2 	 1290
twitter-2016devtest-BD.txt 	 3 	 1417
twitter-2015train-BD.txt 	 4 	 489
twitter-2016test-BD.txt 	 5 	 10551
twitter-2015testBD.txt 	 6 	 2383

                        0  ...   4
0      628949369883000832  ... NaN
1      628976607420645377  ... NaN
2      629023169169518592  ... NaN
3      629179223232479232  ... NaN
4      629226490152914944  ... NaN
...                   ...  ...  ..
20434  520957142816530432  ... NaN
20435  522889214036156417  ... NaN
20436  521416045865992192  ... NaN
20437  522912399322394624  ... NaN
20438  520917627460661248  ... NaN

[20439 rows x 5 columns]

In [135]:

task_a_test_df = pd.read_csv(cfg['paths']['test_file_task_a'], sep='\t', header=None)
task_a_test_df

                        0  ...                                                  2
0      801989080477154944  ...  #ArianaGrande Ari By Ariana Grande 80% Full ht...
1      801989272341453952  ...  Ariana Grande KIIS FM Yours Truly CD listening...
2      801990978424962944  ...  Ariana Grande White House Easter Egg Roll in W...
3      801996232553963008  ...  #CD #Musics Ariana Grande Sweet Like Candy 3.4...
4      801998343442407040  ...  SIDE TO SIDE  @arianagrande #sidetoside #aria...
...                   ...  ...                                                ...
11901  805699615781625856  ...  @dansen17 update: Zac Efron kissing a puppy ht...
11902  805701709356003328  ...  #zac efron sex pic skins michelle sex https://...
11903  805701818357579776  ...  First Look at Neighbors 2 with Zac Efron Shirt...
11904  805703557081075712  ...  zac efron poses nude #lovely libra porn https:...
11905  805704324105940992  ...  #Fashion #Style The Paperboy (NEW Blu-ray Disc...

[11906 rows x 3 columns]

In [136]:

task_b_test_df = pd.read_csv(cfg['paths']['test_file_task_b'], sep='\t', header=None)
task_b_test_df

                       0  ...                                                  3
0     801989272341453952  ...  Ariana Grande KIIS FM Yours Truly CD listening...
1     801990978424962944  ...  Ariana Grande White House Easter Egg Roll in W...
2     801996232553963008  ...  #CD #Musics Ariana Grande Sweet Like Candy 3.4...
3     801998343442407040  ...  SIDE TO SIDE  @arianagrande #sidetoside #aria...
4     802001659970744064  ...  Hairspray Live! Previews at the Macy's Thanksg...
...                  ...  ...                                                ...
6064  805696468959002624  ...  Abby *talking about the Hamilton soundtrack": ...
6065  805699412257181697  ...  can we like get zac efron or justin bieber for...
6066  805699615781625856  ...  @dansen17 update: Zac Efron kissing a puppy ht...
6067  805701818357579776  ...  First Look at Neighbors 2 with Zac Efron Shirt...
6068  805703557081075712  ...  zac efron poses nude #lovely libra porn https:...

[6069 rows x 4 columns]

In [137]:
task_b_test_df[2].unique()

array(['positive', 'negative'], dtype=object)